.ingredientDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    margin: 120px auto 0;
}

.ingredientDetailsItems {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.ingredientDetailsItem {
    text-align: center;
    flex: 1;
}

.ingredientName {
    text-align: center;
}
